*{
  box-sizing: border-box;
}

body{
  margin: 0 auto;
}

/*Estilos header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  background-color: #2c3e50;
  padding: 30px;
  height: 105px;
  font-weight: 900;
  z-index: 1000;

}
.principal{
  overflow: auto;
  width: 90%;
  padding-left: 5%;
  font-size: 16px;
  margin: auto;
}
.principal a{
  text-decoration: none;
  color: white;
}

.title {
  font-size: 30px;
  font-weight: 700;
}

.links {
  float: right;
  width: 30%;
  padding-top: 10px;
}

.links a {
  padding-right: 10px;
}

/*Estilo section profile*/
#profile {
  background-color: #18bc9c;
  text-align: center;
  color: white;
  padding-top: 150px;
  font-family: 'Montserrat', sans-serif;
  display: block;
  height: 650px;
}

.intro-text {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 20px;
}

/*Estilo hr con estrella*/
hr {
  overflow: visible;
}

hr.star-1{
	max-width: 250px;
	margin: 25px auto 30px;
	padding: 0;
	text-align: center;
	border: none;
	border-top: solid 5px;
}

hr.star-1:after{
	color: #fff;
	font-family: FontAwesome;
	font-size: 25px;
	content: '\f005';
	top: -20px;
	padding: 6px;
	display: inline-block;
	background-color: #18bc9c;
	position: relative;
}

/*Estilo section portfolio*/

#portfolio {
  background-color: white;
  text-align: center;
  display: block;
}

#portfolio h2 {
  font-size: 40px;
  font-family: 'Montserrat',sans-serif;
  font-weight: 900;
  width: 100%;
}

/*Estilo hr con estrella*/
hr {
  overflow: visible;
}

hr.star-2{
	max-width: 250px;
	margin: 25px auto 30px;
	padding: 0;
	text-align: center;
	border: none;
	border-top: solid 5px;
}

hr.star-2:after{
	color: black;
	font-family: FontAwesome;
	font-size: 25px;
	content: '\f005';
	top: -20px;
	padding: 6px;
	display: inline-block;
	background-color: white;
	position: relative;
}

.container-images {
  width: 85%;
  margin: 50px;
  display: inline-block;
}

.container-images img {
  display: inline-block;
  width: 30%;
  margin: 15px;
}

/* Estilo section about*/

#about {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}

.container-about{
  background-color: #18BC9C;
  color: white;
  text-align: center;
  width: 100%;
  padding-bottom: 50px;
}

.text-about {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  font-weight: 900;
}

.text-about span {
  display: inline-block;
  margin-top: 50px;
  font-size: 40px;
}

/*Estilo hr con estrella*/
hr {
  overflow: visible;
}

hr.star-3{
	max-width: 250px;
	margin: 25px auto 5px;
	padding: 0;
	text-align: center;
	border: none;
	border-top: solid 5px;
}

hr.star-3:after{
	color: #fff;
	font-family: FontAwesome;
	font-size: 25px;
	content: '\f005';
	top: -20px;
	padding: 6px;
	display: inline-block;
	background-color: #18bc9c;
	position: relative;
}

.paragraph {
  text-align: left;
  width: 55%;
  margin: 40px;
  column-count: 2;
  display: inline-block;
  font-size: 20px;
  font-family: 'Lato',sans-serif;

}

.paragraph p {
  display: inline;
  width: 50%;
  text-align: left;
}

.fa-download {
  text-align: center;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  background: #18bc9c;
  font-size: 20px;
}


/*Estilos section contac me*/
.text-contact {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  font-weight: 900;
  text-align: center;
}

.text-contact span {
  display: inline-block;
  margin-top: 50px;
  font-size: 40px;
}

/*Estilo hr con estrella*/
hr {
  overflow: visible;
}

hr.star-4{
	max-width: 250px;
	margin: 25px auto 5px;
	padding: 0;
	text-align: center;
	border: none;
	border-top: solid 5px;
}

hr.star-4:after{
	color: black;
	font-family: FontAwesome;
	font-size: 25px;
	content: '\f005';
	top: -20px;
	padding: 6px;
	display: inline-block;
	background-color: white;
	position: relative;
}

.form {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  display: block;
  text-align: center;
}
.formularios{
  position: relative;
  margin-bottom: 0;
  padding-bottom: .5em;
  border-bottom: 1px solid #eee;
}
.formularios input{
  font-size: 1.5em;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  border: none;
  box-shadow: none!important;
  width: 100%;
  display: block;
  padding: .375 rem .75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;

}
.boton{
  font-weight: 700;
  color: #fff;
  border-color: #18bc9c;
  background-color: #18bc9c;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}
