*{
  box-sizing: border-box;
}

body{
  margin: 0 auto;
}

/*Estilos header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  background-color: #2c3e50;
  padding: 30px;
  height: 105px;
  font-weight: 900;

}
.principal{
  overflow: auto;
  width: 90%;
  padding-left: 5%;
  font-size: 16px;
  margin: auto;
}
.principal a{
  text-decoration: none;
  color: white;
}

.title {
  font-size: 30px;
}

.links {
  float: right;
  width: 30%;
  padding-top: 10px;
}

.links a {
  padding-right: 10px;
}

/*Estilo section 1*/
#profile {
  background-color: #18bc9c;
  text-align: center;
  color: white;
  padding-top: 150px;
  font-family: 'Montserrat', sans-serif;
  display: block;
}

.intro-text {
  font-size: 70px;
  font-weight: 700;
}
