body{
	background-color: #18bc9c;
}
hr{
	overflow: visible;
	color: #fff;
}
hr.star-1{
	max-width: 250px;
	margin: 25px auto 30px;
	padding: 0;
	text-align: center;
	border: none;
	border-top: solid 5px;
}

hr.star-1:after{
	color: #fff;
	font-family: FontAwesome;
	font-size: 25px;
	content: '\f005';
	top: -.8em;
	padding: 0.25em;
	display: inline-block;
	background-color: #18bc9c;
	position: relative;
}
